@font-face {
    font-family: 'Inria Serif';
    src: url('Inria_Serif/InriaSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inria Serif';
    src: url('Inria_Serif/InriaSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inria Serif';
    src: url('Inria_Serif/InriaSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inria Serif';
    src: url('Inria_Serif/InriaSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inria Serif';
    src: url('Inria_Serif/InriaSerif-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inria Serif';
    src: url('Inria_Serif/InriaSerif-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-weight: bold;
}

.custom-select{
    justify-content: center;
    height: 70px;
    color: #1A8326;
    font-family: 'Inria Serif', serif;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
}

body {
    background-color: #F9F9F9;
    color: #333;
}

h1 {
    color: #2b2b2b;
    font-family: 'Inria Serif', serif;
    font-size: 90px;
}

h2 {
    color: #1A8326;
    font-family: 'Inria Serif', serif;
    font-style: italic;
    font-size: 60px;
}

.compare-title {
    color: #1A8326;
    font-family: 'Inria Serif', serif;
    font-style: italic;
    /* font-size: 60px; */
}

h3{
    color: white;
}

.candidates-section .card {
    background-color: #0b1a32;
    color: #fff;
    border: none;
}

.candidates-section .card img {
    max-height: 200px;
    object-fit: cover;
}

.comparar{
    display: flex;
    justify-content: right;
}

.titulo{
    display: flex;
    justify-content: center;
}

.custom-select,
.form-control {
    max-width: 300px;
}

.btn-success {
    background-color: #4caf50;
    border-color: #4caf50;
}

.custom-card-height {
    height: 100%; /* Ensure the card takes full height of the column */
}

.background{
    background-color: #00052E;
    height: 80%;
    padding-bottom: 40%;
}

.custom-rounded {
    border-radius: 30px; /* You can set your desired radius here */
}

.candidates-compare {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.candidate-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.candidate {
    text-align: center;
}

.tableStyle {
    width: 100%;
    border-collapse: collapse;
    background-color: #00052E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    color: white;
    text-align: center;
}

.tableStyle th, .tableStyle td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.tableStyle tr:hover {
    background-color: #575757;
}

.tableStyle tr:first-child td {
    border-top: none;
}

.tableStyle td {
    color: #fff;
}